.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
    margin-top: 30px;
}
.colorpicker {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.colorpicker .card-header {
    background: #337ab6;
    color: white;
}
.colorpicker .card-body {
    padding: 10px 20px;
}
.colorpicker .card-body span {
    background: red;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.colorpicker .card-body .active {
    border: 2px solid black;
}
.size .card-header {
    background: #fcf8e3;
    color: #8a6d3b;
}
.size .card-body {
    padding: 10px;
}
.size .card-body button {
    margin-right: 10px;
    height: 30px;
    width: 60px;
    font-size: 13px;
    color: white;
    background: #5cb85b;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.size .card-body button:hover {
    background-color: #398439;
    border-color: #255625;
}
.reset {
    margin-top: 10px;
}
.reset button {
    border: none;
    background: #337ab6;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.reset button:hover {
    background-color: #204d74;
    border-color: #122b40;
}


.noteSetting{
    padding: 5px 10px;
}